<h1>All Movies</h1>

<%= form_tag movies_path, method: :get, id: 'ratings_form', local: true do %>
  Include:
  <% @all_ratings.each do |rating| %>
    <div class="form-check form-check-inline">
      <%= check_box_tag "ratings[#{rating}]", "1", @ratings_to_show.include?(rating), class: 'form-check-input' %>
      <%= label_tag "ratings[#{rating}]", rating, class: 'form-check-label' %>
    </div>
  <% end %>
  <%= hidden_field_tag :sort_by, @sort_by if @sort_by.present? %>
  <%= submit_tag 'Refresh', id: 'ratings_submit', class: 'btn btn-primary' %>
<% end %>

<table>
  <thead>
    <tr>
      <th>
        <%= link_to "Title", movies_path(sort_by: "title", ratings: Hash[@ratings_to_show.map { |r| [r, 1] }]) %>
      </th>
      <th>Rating</th>
      <th>
        <%= link_to "Release Date", movies_path(sort_by: "release_date", ratings: Hash[@ratings_to_show.map { |r| [r, 1] }]) %>
      </th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @movies.each do |movie| %>
      <tr>
        <td><%= link_to movie.title, movie_path(movie) %></td>
        <td><%= movie.rating %></td>
        <td><%= movie.release_date %></td>
        <td>
          <%= link_to "Edit", edit_movie_path(movie) %> |
          <%= link_to "Delete", movie_path(movie), data: { turbo_method: :delete, turbo_confirm: "Are you sure?" } %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to "Add new movie", new_movie_path %>
