<h1>All Movies</h1>
<%= form_tag movies_path, method: :get, id: 'ratings_form' do %>
  Include:
  <% @all_ratings.each do |rating| %>
    <div class="form-check form-check-inline">
      <%= check_box_tag "ratings[#{rating}]", "1", @selected_ratings.include?(rating), id: "ratings_#{rating}", class: "form-check-input" %>
      <%= label_tag "ratings_#{rating}", rating, class: "form-check-label" %>
    </div>
  <% end %>
  <div class="mt-2 mb-2">
    <label for="sort_by" class="form-label me-2">Sort by:</label>
    <%= select_tag :sort_by,
                   options_for_select([["Title", "title"], ["Release date", "release_date"]], @sort_by),
                   id: "sort_by",
                   class: "form-select d-inline w-auto" %>
  </div>
  <%= button_tag 'Refresh', type: 'submit', id: 'ratings_submit', name: nil, class: 'btn btn-primary' %>
<% end %>
<div id="movies">
  <% @movies.each do |movie| %>
    <%= render movie %>
  <% end %>
</div>
<%= link_to "Add new movie", new_movie_path, class: "btn btn-success" %>
