<h1>All Movies</h1>

<%= form_tag movies_path, method: :get, id: 'ratings_form' do %>
  Include:
  <% @all_ratings.each do |rating| %>
    <div class="form-check form-check-inline">
      <%= check_box_tag "ratings[#{rating}]", "1", @ratings_to_show.include?(rating), id: "ratings_#{rating}", class: "form-check-input" %>
      <%= label_tag "ratings_#{rating}", rating, class: "form-check-label" %>
    </div>
  <% end %>
  <div class="mt-2 mb-2">
    <label for="sort_by" class="form-label me-2">Sort by:</label>
    <%= select_tag :sort_by,
                   options_for_select([["Title", "title"], ["Release date", "release_date"]], @sort_by),
                   id: "sort_by",
                   class: "form-select d-inline w-auto" %>
  </div>
  <%= button_tag 'Refresh', type: 'submit', id: 'ratings_submit', class: 'btn btn-primary' %>
<% end %>

<% @movies.each do |movie| %>
  <div class= "movie">
    <strong><%= link_to movie.title, movie_path(movie) %></strong>
    | Rating: <%= movie.rating %>
    | Release Date: <%= movie.release_date %>
    | <%= link_to "Edit", edit_movie_path(movie) %>
    | <%= link_to "Delete", movie_path(movie), method: :delete, data: { confirm: "Are you sure?" } %>
  </div>
<% end %>

<%= link_to "Add new movie", new_movie_path, class: "btn btn-success" %>
