<%= form_tag movies_path, method: :get, id: 'ratings_form', local: true do %>
  <!-- Ratings checkboxes -->
  <% @all_ratings.each do |rating| %>
    <div class="form-check form-check-inline">
      <%= check_box_tag "ratings[#{rating}]", "1", @ratings_to_show.include?(rating), id: "ratings_#{rating}", class: 'form-check-input' %>
      <%= label_tag "ratings[#{rating}]", rating, class: 'form-check-label' %>
    </div>
  <% end %>

  <!-- Sort by dropdown -->
  <div class="mt-2">
    <label class="form-label me-2" for="sort_by">Sort by:</label>
    <%= select_tag :sort_by,
                   options_for_select([["Title", "title"], ["Release date", "release_date"]], @sort_by),
                   id: "sort_by",
                   class: "form-select d-inline w-auto" %>
  </div>

  <!-- Refresh button -->
  <%= submit_tag 'Refresh', id: 'ratings_submit', class: 'btn btn-primary mt-2' %>
<% end %>

<!-- Movies table -->
<table class="table table-striped mt-3">
  <thead>
    <tr>
      <th>
        <%= link_to "Title", movies_path(sort_by: "title", ratings: Hash[@ratings_to_show.map { |r| [r,'1'] }]) %>
      </th>
      <th>
        <%= link_to "Release Date", movies_path(sort_by: "release_date", ratings: Hash[@ratings_to_show.map { |r| [r,'1'] }]) %>
      </th>
      <th>Rating</th>
      <th>Director</th>
    </tr>
  </thead>
  <tbody>
    <% @movies.each do |movie| %>
      <tr>
        <td><%= movie.title %></td>
        <td><%= movie.release_date %></td>
        <td><%= movie.rating %></td>
        <td><%= movie.director %></td>
      </tr>
    <% end %>
  </tbody>
</table>