<h1>All Movies</h1>

<form id="ratings_form" action="/movies" method="get">
  Include:
  <% @all_ratings.each do |rating| %>
    <div class="form-check form-check-inline">
      <input type="checkbox" name="ratings[<%= rating %>]" id="ratings_<%= rating %>" value="1" class="form-check-input" <%= 'checked' if @ratings_to_show.include?(rating) %> />
      <label class="form-check-label" for="ratings_<%= rating %>"><%= rating %></label>
    </div>
  <% end %>

  <div>
    <label class="form-label me-2" for="sort_by">Sort by:</label>
    <select name="sort_by" id="sort_by" class="form-select d-inline w-auto">
      <option value="title" <%= 'selected' if @sort_by == 'title' %>>Title</option>
      <option value="release_date" <%= 'selected' if @sort_by == 'release_date' %>>Release date</option>
    </select>
  </div>

  <input type="submit" name="commit" value="Refresh" id="ratings_submit" class="btn btn-primary" />
</form>

<% @movies.each do |movie| %>
  <div id="<%= dom_id movie %>" class="movie">
    <strong><%= link_to movie.title, movie_path(movie) %></strong>
    | Rating: <%= movie.rating %>
    | Release Date: <%= movie.release_date %>
    | <%= link_to "Edit", edit_movie_path(movie) %>
    | <%= link_to "Delete", movie_path(movie), data: { turbo_method: :delete, turbo_confirm: "Are you sure?" } %>
  </div>
<% end %>

<%= link_to "Add new movie", new_movie_path %>
